@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

.container{
    width: 100%;
    min-height: 100%vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;;
}

.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu{
    width: 25px;
    cursor: pointer;
    display: none;
}
.socials img{
    height: 20px;
    margin: 10px;
    cursor: pointer;
    
}
.socials{
    text-align: left;
}
nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#000000 ;
    font-size: 14px;
}

nav ul li a:hover{
    color: #8a2be2;
}

section{
    padding: 4rem 0 3rem;
}

.section-title{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5rem;
}

.shop{
    margin-top: 2rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.product-box{
    position: relative;
}

.product-box:hover{
    padding: 5px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.product-img{
    width: 350px;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price{
    font-weight: 500;
    color: rgb(86, 88, 88);
}
 

.socials img{
    height: 30px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    
}
.socials{
    text-align: center;
}
.bag{
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: linear-gradient(#9d45f0, #2c0a53);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px; 
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
    } 
    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .bag{
        margin-top: -15px;
    }
}